html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    cursor: none;
    background-color: white;
     /*#2c343f*/
}

#canvas {
    display: block;
    background-color: white ;
    /*#2c343f*/
    width: 100%;
    height: 100%;		
}

#ribbon {
    z-index:999;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    background: pink;
    float: left;
    cursor: pointer;
}
#ribbon .bow {
    z-index:999;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 30rem;
    height: 15rem;
    /*width: 20rem;
    height: 10rem;*/
    /*background-image: url(https://pics.clipartpng.com/midle/Red_Bow_PNG_Clipart-530.png);*/
    background-image: url('RB.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -40%);
    z-index: 10;
}
#ribbon .bow.hide {
    z-index:0;
    transition: transform 2s ease-in-out, opacity .1s ease 2s;
    transform: translateY(-2000rem) rotate(360deg);
    opacity: 0;
    transform-origin: top left;
}
#ribbon .ribbon--r,
#ribbon .ribbon--l {
    z-index:0;
    position: absolute;
    /*background-color: #a7002c;*/
    background-color: #ED3139;
    width: 50vw;
    height: 1.5rem;
}
#ribbon .ribbon--r {
    z-index:0;
    right: 0;
}
#ribbon .ribbon--r.hide {
    z-index:0;
    transition: transform 5s ease-in-out;
    transform: translateX(1000rem) rotate(90deg);
    transform-origin: botttom right;
}
#ribbon .ribbon--l {
    z-index:0;
    left: 0;
}
#ribbon .ribbon--l.hide {
    z-index:0;
    transition: transform 5s ease-in-out;
    transform: translateX(-1000rem) rotate(-90deg);
    transform-origin: bottom left;
}
    
#imgFollow {
    z-index:999;
    transform: rotate(0deg);
    width: 5rem;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}